.top-nav{
  display: flex;
  justify-content: space-between;
}

.Whistle{
  font-family: Neucha; 
}

.nav{
  background-color: #886E58;
}

.map{
  margin-top: 30px;
  margin-left: 20px;
  height: 350px;
}

.local{
  margin-top: 50px;
  margin-left: 90px;
  font-family: Livvic, sans-serif; 
}

.group{
  font-family: Neucha;
  margin-left: 60px;
  margin-top: 100px;
  font-family: Livvic, sans-serif; 
}

.chat{
  margin-top: 50px;
  margin-left: 20px;
  background-color: #F5F2EA;
  border-radius: 20px;
  width: 300px;
}

.join{
  margin-top: 5px;
  margin-left: 150px;
}
.container{
  display: flex;
  margin-left: 250px;
}

.menu{
  margin: 50px;
  font-family: Livvic, sans-serif;
}