<<<<<<< src/styles/globals.css
:root {
  margin: o;
  padding: 0;
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
=======
.top-nav{
  display: flex;
  justify-content: space-between;
>>>>>>> src/styles/globals.css
}

.Whistle{
  font-family: Neucha; 
}

.nav{
  background-color: #886E58;
}

.map{
  margin-top: 30px;
  margin-left: 20px;
  height: 350px;
}

.local{
  margin-top: 50px;
  margin-left: 90px;
  font-family: Livvic, sans-serif; 
}

.group{
  font-family: Neucha;
  margin-left: 60px;
  margin-top: 100px;
  font-family: Livvic, sans-serif; 
}

.chat{
  margin-top: 50px;
  margin-left: 20px;
  background-color: #F5F2EA;
  border-radius: 20px;
  width: 300px;
}

.join{
  margin-top: 5px;
  margin-left: 150px;
}
.container{
  display: flex;
  margin-left: 250px;
}

.menu{
  margin: 50px;
  font-family: Livvic, sans-serif;
}